body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #008fff;
    color: #f1f0ea;
    padding: 1rem 0;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.gazprom-logo {
    height: 50px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}

.file-button, .upload-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.file-button:hover, .upload-button:hover {
    background-color: #0056b3;
}
.file-button:active, .upload-button:active {
    background-color: #004085;
}
.file-button {
    background-color: #28a745;
}
.file-button:hover {
    background-color: #218838;
}
.file-button:active {
    background-color: #1e7e34;
}
.upload-button {
    background-color: #17a2b8;
}
.upload-button:hover {
    background-color: #138496;
}
.upload-button:active {
    background-color: #117a8b;
}