body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #008fff;
    color: #f1f0ea;
    padding: 1vw 0;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    font-size: 1vw;
}

table td {
    padding: 0.625em; 
    border: 0.0625em solid #ccc;
}

h2 {
    margin: 0 0 0.625em;
    font-size: 1.5em; 
    color: #333;
}

input[type="text"],
input[list] {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
    font-size: 1vw;
}

input[type="text"]:focus,
input[list]:focus {
    border-color: #008fff;
    outline: none;
    box-shadow: 0 0 0.3125em rgba(102, 175, 233, 0.5); 
}

.checkbox-wrapper {
    --borderColor: #48c;
    --borderWidth: .3em;
}

.checkbox-wrapper input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    vertical-align: middle;
    align-items: center;
    background: #fff;
    border-radius: 0.125em;
    display: inline-block;
    border: .1vw solid var(--borderColor);
    width: .5vw;
    height: .5vw;
    position: relative;
}

.checkbox-wrapper input[type=checkbox]:before,
.checkbox-wrapper input[type=checkbox]:after {
    content: "";
    position: absolute;
    background: var(--borderColor);
    width: .5vw;
    height: var(--borderWidth);
    top: 50%;
    left: 10%;
    transform-origin: left center;
}

.checkbox-wrapper input[type=checkbox]:before {
    transform: rotate(45deg) translate(calc(var(--borderWidth) / -2), calc(var(--borderWidth) / -2)) scaleX(0);
    transition: transform 200ms ease-in 200ms;
}

.checkbox-wrapper input[type=checkbox]:after {
    width: calc(var(--borderWidth) * 5);
    transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2)) scaleX(0);
    transform-origin: left center;
    transition: transform 200ms ease-in;
}

.checkbox-wrapper input[type=checkbox]:checked:before {
    transform: rotate(45deg) translate(calc(var(--borderWidth) / -2), calc(var(--borderWidth) / -2)) scaleX(1);
    transition: transform 200ms ease-in;
}
  
.checkbox-wrapper input[type=checkbox]:checked:after {
    width: calc(var(--borderWidth) * 5);
    transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2)) scaleX(1);
    transition: transform 200ms ease-out 200ms;
}

.filter-row {
    align-items: center;
}

.filter-row span {
    margin: auto 0.3125em;
}

.filter-block {
    font-size: 1vw;
    background-color: #fff;
    padding: 1.25em;
    border-radius: 0.5em; 
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
    margin: 1em auto;
}

.files-table {
    font-size: 1vw;
    width: 100%;
    margin: 1em;
    border-collapse: collapse;
    table-layout: auto;
}

.content {
    padding: 0 2em;
    background-color: #f4f4f4;
    color: #333;
}

.gazprom-logo {
    height: 7.5vw;
    padding-left: 1em;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.page-selection-button {
    font-size: 1vw;
    padding: 1vw 2vw;
    margin-left: 1vw;
    background-color: #2994E8;
    color: white;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    transition: background-color 0.5s ease
}

.page-selection-button:hover {
    background-color: #006BC0;
}

.page-selection-button-active {
    font-size: 1vw;
    padding: 1vw 2vw;
    margin-left: 1vw;
    background-color: #f1f0ea;
    color: black;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    transition: background-color 0.5s ease
}

.page-selection-button-active:hover {
    background-color: #cdcdcd;
}

.file-input-tag {
    display: none;
}

.satus-circle {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    align-items: center;
}

.search-button {
    display: inline-block;
    padding: 1vw 2vw;
    margin: 0 1em 1em 0;
    font-size: 1vw;
    text-decoration: none;
    color: white;
    background-color: #2994E8;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.export-button {
    float: right;
    padding: 1vw 2vw;
    font-size: 1vw;
    text-decoration: none;
    color: white;
    background-color: #2994E8;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.file-button, .save-button {
    display: inline-block;
    vertical-align: middle;
    padding: 1em 1em;
    margin: 1vw 1vw 1vw 0;
    font-size: 1vw;
    color: white;
    background-color: #2994E8;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.file-button:hover, .save-button:hover {
    background-color: #006BC0;
}

.toolbar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
}

.progress {
    height: 20px;
    background-color: #4CAF50;
    width: 0%;
}

#progressText {
    font-size: 16px;
}