{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Export Files</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="{% static 'export_scripts.js' %}"></script>
</head>
<body>

    <script type="text/x-jquery-tmpl" id="fileRowTemplate">
        <tr>
            <td>${fileId}</td>
            <td>${filePath}</td>
            <td>${fileVersion}</td>
            <td>${startDepth}</td>
            <td>${stopDepth}</td>
            <td>${datetime}</td>
            <td>${companyName}</td>
            <td>${wellNumber}</td>
            <td>${fieldName}</td>
            <td>${metrics}</td>
        </tr>
    </script>



    <header>
        <nav class="header-container">
            <img src="https://cdn.freebiesupply.com/logos/large/2x/gazprom-6-logo-black-and-white.png" alt="Gazprom-logo" class="gazprom-logo">
            <button class="page-selection-button">Импорт файлов</button>
            <button class="page-selection-button-active">Экспорт файлов</button>
        </nav>
    </header>  
    
    <main class="content">

        <div class="filter-block">
            <button class="search-button" id="searchButton">Найти</button>
            <button class="search-button" id="clearButton">Очистить</button>
            <button class="export-button" id="exportButton">Экспортировать</button>

            <table>
                <!-- Исправить ширину. Двойные поля должны подстраиваться под ширину одинарного -->

                <tr>
                    <td>
                        <input type="text" class="file-filter" id="fileFilter" placeholder="Название файла">
                    </td>

                    <td>
                        <input list="fieldFilterList"  class="field-filter" id="fieldFilter" placeholder="Месторождение">
                        <datalist id="fieldFilterList">
                        </datalist>
                    </td>

                    <td>
                        <input list="wellNumberFilterList"  class="well-number-filter" id="wellNumberFilter" placeholder="Номер скважины">
                        <datalist id="wellNumberFilterList">
                        </datalist>
                    </td>

                    <td>
                        <div class="filter-row" style="display: flex;">
                            <input type="text" class="start-measure-from-depth-filter" id="startMeasureFromDepthFilter" placeholder="Начало измерения с глубины">
                            <span>-</span>
                            <input type="text" class="finish-measure-from-depth-filter" id="finishMeasureFromDepthFilter" placeholder="Начало измерения до глубины">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="filter-row" style="display: flex;">
                            <input type="text" class="start-measure-till-depth-filter" id="startMeasureTillDepthFilter" placeholder="Конец измерения c глубины">
                            <span>-</span>
                            <input type="text" class="finish-measure-till-depth-filter" id="finishMeasureTillDepthFilter" placeholder="Конец измерения до глубины">
                        </div>
                    </td>

                    <td>
                        <input list="companiesList"  class="companies-filter" id="companiesFilter" placeholder="Компания">
                        <datalist id="companiesList">
                        </datalist>
                    </td>

                    <td>
                        <input list="metricsList"  class="metrics-filter" id="metricsFilter" placeholder="Метрики">
                        <datalist id="metricsList">
                            <!--- <option value="pp1"> -->
                        </datalist>
                    </td>

                    <td>
                        <div class="filter-row" style="display: flex;">
                            <input type="text" class="start-year-filter" id="startYearFilter" placeholder="С года">
                            <span>-</span>
                            <input type="text" class="finish-year-filter" id="finishYearFilter" placeholder="До года">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        
        <table class="lasFilesTable" id="fileTable">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Size</th>
                    <th>Type</th>
                    <th>Content</th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </main>
</body>
</html>