<header>
    <nav class="header-container">
        <img src="https://cdn.freebiesupply.com/logos/large/2x/gazprom-6-logo-black-and-white.png" alt="Gazprom-logo" class="gazprom-logo">
        <a href="/import/">
            <button class="page-selection-button{% if current_page == 'import' %}-active{% endif %}">Импорт файлов</button>
        </a>
        <a href="/export/">
            <button class="page-selection-button{% if current_page == 'export' %}-active{% endif %}">Экспорт файлов</button>
        </a>
    </nav>
</header>