{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import Files</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'import_scripts.js' %}"></script>
</head>
<body>

    <header>
        <div class="header-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2uOtw4ij2tlbCScTQHIgFqqlwdbLpgnxV3A&s" alt="Gazprom-logo" class="gazprom-logo">
            <h1>Import Files</h1>
            <button class="button">Импорт файлов</button>
            <button class="button">Экспорт файлов</button>

        </div>
    </header>

    <input class ="file-button" type="file" id="fileInput" multiple>
    <button class="upload-button" id="uploadButton">Upload Files</button>
    
    <table id="fileTable">
        <table>
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Size</th>
                    <th>Type</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>28</td>
                    <td>New York</td>
                    <td>dd</td>
                </tr>
            </tbody>
        </table>
        
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>