{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import Files</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="{% static 'import_scripts.js' %}"></script>
</head>
<body>

    <script type="text/x-jquery-tmpl" id="fileRowTemplate">
        <tr class="trtrtr">
            <td>
                <div class="checkbox-wrapper">
                    <input type="checkbox" ${isCheckboxDisabled ? 'disabled' : ''}/>
                </div>
            </td>
            <td> ${status_color}</td>
            <td> ${fatal_amount} / ${warns_amount} </td> 
            <td>${fileName}</td>
            <td>${fieldName}</td>
            <td>${wellNumber}</td>
            <td>${metrics}</td>
            <td>${datetime}</td>
            <td>${companyName}</td>
            <td>${startDepth}</td>
            <td>${stopDepth}</td>
    
            <td display=none class='originalFilePathHolder'> ${originalFilePath} </td>
            <td display=none class='processedFilePathHolder'> ${processedFilePath} </td>
        </tr>
    </script>

    <header>
        <nav class="header-container">
            <img src="https://cdn.freebiesupply.com/logos/large/2x/gazprom-6-logo-black-and-white.png" alt="Gazprom-logo" class="gazprom-logo">
            <button class="page-selection-button-active">Импорт файлов</button>
            <button class="page-selection-button">Экспорт файлов</button>
        </nav>
    </header>

    <main class="content">
        <label for="fileInput" class="file-button">Выбрать файлы</label>
        <input class="file-input-tag" style="visibility:hidden;" type="file" id="fileInput" multiple>
        <button class="upload-button" id="uploadButton">Загрузить файлы</button>
        <button class="save-button" id="saveButton" style="display:none;">Добавить в базу данных</button>
        
        <table id="fileTable">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Size</th>
                    <th>Type</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </main>
</body>
</html>