{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import Files</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="{% static 'import_scripts.js' %}"></script>
</head>
<body>

    <script type="text/x-jquery-tmpl" id="fileRowTemplate">
        <tr>
            <td>
                <div class="checkbox-wrapper">
                    <input type="checkbox" ${isCheckboxDisabled ? 'disabled' : ''}/>
                </div>
            </td>
            <td> 
                <div class="status-circle" style="background: ${status_color};"></div>
            </td>
            <td> ${fatal_amount} / ${warns_amount} </td> 
            <td>${fileName}</td>
            <td>${fieldName}</td>
            <td>${wellNumber}</td>
            <td>${metrics}</td>
            <td>${datetime}</td>
            <td>${companyName}</td>
            <td>${startDepth}</td>
            <td>${stopDepth}</td>

            <td style="display: none;" class='originalFilePathHolder'> ${originalFilePath} </td>
            <td style="display: none;" class='processedFilePathHolder'> ${processedFilePath} </td>
            <td style="display: none;" class='fileVersionHolder'> ${fileVersion} </td>
        </tr>
    </script>
    {% include 'header.html' %}

    <main class="content">
        <label for="fileInput" class="file-button">Выбрать файлы</label>
        <input class="file-input-tag" type="file" id="fileInput" multiple>
        <button class="save-button" id="saveButton">Добавить в базу данных</button>
    
        <div class="toolbar" id="uploadToolbar">
            <div class="progress-bar">
                <div class="progress" id="progressBar"></div>
            </div>
            <span id="progressText">0%</span>
        </div>

        <table class="files-table" id="fileTable">
            <thead>
                <tr>
                    <th>Выбрать</th>
                    <th>Статус проверки</th>
                    <th>Ошибки (фатал./устр.) </th>
                    <th>Название файла</th>
                    <th>Месторождение</th>
                    <th>Номер скважины</th>
                    <th>Мнемоники</th>
                    <th>Дата замера</th>
                    <th>Компания</th>
                    <th>Начальная глубина</th>
                    <th>Конечная глубина</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </main>
</body>
</html>