body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #008fff;
    color: #f1f0ea;
    padding: 1rem 0;
    text-align: left;
}

table {
    width: 45%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.content {
    padding: 2em;
    background-color: #f4f4f4;
    color: #333;
}

.gazprom-logo {
    height: 100px;
    padding-left: 1em;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.page-selection-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.page-selection-button:hover {
    background-color: #0056b3;
}

.page-selection-button-active {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #f1f0ea;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.page-selection-button-active:hover {
    background-color: #a1a1a0;
}

.file-button, .upload-button {
    padding: 12px 20px;
    margin-bottom: 1em;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-button {
    background-color: #28a745;
}

.file-button:hover {
    background-color: #218838;
}

.file-button:active {
    background-color: #1e7e34;
}

.upload-button {
    background-color: #17a2b8;
}

.upload-button:hover {
    background-color: #138496;
}

.upload-button:active {
    background-color: #117a8b;
}